extends layout

block content
 h1=title
 p

 h2=message
 form(action="/update", method="post", role="form")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="fName") First Name:
          .col-xs-12.col-sm-10
            input#fName.form-control(name="fName" value="#{results.fName}" required)
            br
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="lName") Last Name:
          .col-xs-12.col-sm-10
            input#lName.form-control(name="lName" value="#{results.lName}" required)
            br
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="department") Department:
          .col-xs-12.col-sm-10
            input#department.form-control(name="department" value="#{results.department}" required)
            br
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="date") Start Date:
          .col-xs-12.col-sm-10
            input#startDate.form-control(name="date" value="#{results.date}" required)
            br
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="job") Job Tile:
          .col-xs-12.col-sm-10
            input#jobTitle.form-control(name="job" value="#{results.job}" required)
            br
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="salary") Salary
          .col-xs-12.col-sm-10
            input#name.form-control(name="salary" value="#{results.salary}" required) 
            br
        input(type="hidden" name="_id" value="#{results._id}")
        input(class="btn btn-success center-block" type="submit" value="Update Employee")
        
